Repository mbrobbel/dqcsim, pull requests merged in 2019-05, with the labels that each got.

#77 Python docs
  .travis.yml
  doc/src/concept.md
Labels: ci, documentation, lang:python

#78 Prevent LogThread panic if stderr can't be wrapped
  rust/src/core/common/log/thread.rs
Labels: ci, lang:rust 🦀

#87 Add info log message with random seed
  rust/src/core/host/configuration/seed.rs
  rust/src/core/host/simulation.rs
Labels: enhancement, lang:rust 🦀

#86 Fix panic in drop method of PluginProcess
  Cargo.lock
  rust/Cargo.toml
  rust/src/bin/dqcsim/main.rs
  rust/src/core/host/plugin/process.rs
  rust/src/core/host/simulation.rs
Labels: bug, lang:rust 🦀

#88 Azure Pipelines
  .drone.yml
  .travis.yml
  CMakeLists.txt
  README.md
  azure-pipelines.yml
  cpp/CMakeLists.txt
  cpp/test_cpp/CMakeLists.txt
  cpp/test_raw_c/CMakeLists.txt
  templates/ci/cpp.yml
  templates/ci/install-dependencies.yml
  templates/ci/install-python.yml
  templates/ci/install-rust.yml
  templates/ci/python.yml
  templates/ci/rust.yml
Labels: ci, enhancement

#92 Add backtrace when PluginThread panics and don't panic in drop
  Cargo.lock
  rust/Cargo.toml
  rust/src/core/host/plugin/thread.rs
  rust/tests/core.rs
Labels: lang:rust 🦀

#93 Python tests
  .travis.yml
  doc/src/SUMMARY.md
  doc/src/python-api/debugging.md
  doc/src/python-api/hello-world.md
  doc/src/python-api/index.md
  doc/src/python-api/operator.md
  doc/src/python-api/overview.md
  doc/src/python-api/plugins.md
  doc/src/python-api/reference.md
  doc/src/python-api/sending-gates.md
  doc/src/python-api/simulations.md
  python/bin/dqcsbepy
  python/bin/dqcsfepy
  python/bin/dqcsoppy
  python/dqcsim/common/__init__.py
  python/dqcsim/common/arb.py
  python/dqcsim/common/cmd.py
  python/dqcsim/common/cq.py
  python/dqcsim/common/meas.py
  python/dqcsim/common/mset.py
  python/dqcsim/common/qbset.py
  python/dqcsim/host/__init__.py
  python/dqcsim/plugin/__init__.py
  python/dqcsim/tests/null_backend.py
  python/dqcsim/tests/null_frontend.py
  python/dqcsim/tests/null_operator.py
  python/dqcsim/tests/test_allocate_free.py
  python/dqcsim/tests/test_cq.py
  python/dqcsim/tests/test_gate.py
  python/dqcsim/tests/test_gatestream_misc.py
  python/dqcsim/tests/test_integration.py
  python/dqcsim/tests/test_plugin.py
  python/dqcsim/tests/test_processes.py
  python/dqcsim/tests/test_simulator.py
  python/tools/coverage-helper/python3
  rust/src/bindings/util.rs
  rust/src/core/plugin/state.rs
  setup.py
Labels: lang:python

#104 Fix potential spurious RunResponse message
  rust/src/core/plugin/state.rs
Labels: bug, lang:rust 🦀
