Repository mbrobbel/dqcsim, pull requests merged in 2020-01, with the labels that each got.

#342 Add GitHub Actions
  .github/workflows/coverage.yml
  .github/workflows/cpp.yml
  .github/workflows/documentation.yml
  .github/workflows/python.yml
  .github/workflows/release.yml
  .github/workflows/rust.yml
  .travis.yml
  README.md
  azure-pipelines.yml
  python/tools/Dockerfile
  rust/Cargo.toml
  rust/src/bin/dqcsim/main.rs
  templates/ci/cpp.yml
  templates/ci/install-cmake.yml
  templates/ci/install-dependencies.yml
  templates/ci/install-python.yml
  templates/ci/install-rust.yml
  templates/ci/python.yml
  templates/ci/rust.yml
Labels: ci

#377 Add Doxygen for C++ API documentation generation
  .github/workflows/documentation.yml
Labels: ci, documentation, lang:c++

#378 Gatemap matrix
  cpp/include/dqcsim_bits/wrap.hpp
  cpp/test/raw/gate.cpp
  cpp/test/raw/mm.cpp
  cpp/test/raw/plugin_gates.cpp
  cpp/test/wrap/gate.cpp
  cpp/test/wrap/matrix.cpp
  doc/src/SUMMARY.md
  doc/src/c-api/index.md
  doc/src/c-api/mat.apisrc.md
  python/dqcsim/plugin/__init__.py
  python/tools/add_swig_directives.py
  rust/src/bindings/api_state.rs
  rust/src/bindings/ctypes.rs
  rust/src/bindings/external/common/gate.rs
  rust/src/bindings/external/common/handle.rs
  rust/src/bindings/external/common/mat.rs
  rust/src/bindings/external/common/mod.rs
Labels: lang:c, lang:rust 🦀

#394 Fix Y measurement in Python & C++ API
  cpp/include/dqcsim_bits/wrap.hpp
  python/dqcsim/plugin/__init__.py
  python/dqcsim/tests/test_gate.py
Labels: bug, lang:c++, lang:python

#393 Modify the gate processing reference algorithm to allow for non-Z measurements in the future
  doc/src/intro/gatestream.md
Labels: enhancement

#397 Package libdqcsim.so in lib64 as well
  .github/workflows/coverage.yml
  .github/workflows/examples.yml
  .github/workflows/python.yml
  setup.py
Labels: bug, lang:c, lang:c++

#400 Log python callback errors
  python/tools/add_swig_directives.py
  rust/src/bindings/trailer.inc
Labels: enhancement, lang:python

#401 Fix deadlock for no-op operator callbacks
  rust/src/core/plugin/state.rs
Labels: bug, lang:rust 🦀

#398 CMake workflow
  CMakeLists.txt
  examples/cmake-fetchcontent/.gitignore
  examples/cmake-fetchcontent/Makefile
  examples/cmake-fetchcontent/project/CMakeLists.txt
  examples/cmake-fetchcontent/project/main.cpp
  examples/cmake-simple/.gitignore
  examples/cmake-simple/Makefile
  examples/cmake-simple/project/CMakeLists.txt
  examples/cmake-simple/project/main.cpp
Labels: enhancement, lang:c, lang:c++

#404 Measurement gates with a basis and prep gates
  cpp/include/dqcsim_bits/wrap.hpp
  cpp/test/raw/gate.cpp
  cpp/test/raw/plugin_random.cpp
  cpp/test/wrap/gate.cpp
  cpp/test/wrap/gm.cpp
  doc/src/c-api/gate.apisrc.md
  doc/src/c-api/gm.apisrc.md
  doc/src/c-api/mat.apisrc.md
  doc/src/intro/gatestream.md
  python/dqcsim/plugin/__init__.py
  python/dqcsim/tests/null_backend.py
  python/dqcsim/tests/test_gate.py
  python/dqcsim/tests/test_gatestream_misc.py
  python/dqcsim/tests/test_plugin.py
  python/tools/add_swig_directives.py
  rust/src/bindings/ctypes.rs
  rust/src/bindings/external/common/gate.rs
  rust/src/bindings/external/common/gm.rs
  rust/src/bindings/external/common/mat.rs
  rust/src/core/common/converter.rs
  rust/src/core/common/gates.rs
  rust/src/core/common/types/gate.rs
  rust/src/core/common/types/matrix.rs
  rust/src/core/common/types/mod.rs
  rust/src/core/common/util.rs
  rust/tests/core.rs
Labels: enhancement, lang:c, lang:c++, lang:python, lang:rust 🦀

#421 Fix macos wheels
  setup.py
Labels: bug, ci, lang:python

#420 Allow Python plugins to access gate ArbData
  python/dqcsim/plugin/__init__.py
  python/dqcsim/tests/null_backend.py
  python/dqcsim/tests/test_gate.py
  python/dqcsim/tests/test_gatestream_misc.py
Labels: enhancement, lang:python

#424 Add example
  examples/meas-distribution/Makefile
  examples/meas-distribution/README.md
  examples/meas-distribution/adder.py
  examples/meas-distribution/distribution.py
Labels: examples, lang:python
